body {
  font-family: "Roboto Slab", serif;
}
.nav {
  background-color: #fff;
}
a {
  @apply text-primary;
}
.no-hover {
  pointer-events: none;
}

.no-hover .card-overlay {
  display: none;
}

.no-hover img {
  opacity: 1 !important;
}
