body {
  font-family: "Roboto Slab", serif;
}
.nav-bar {
  background-color: #fff;
}
.nav-bar a {
  color: #fff;
}
.nav-bar a.active {
  font-weight: bold;
}

card a {
  @apply text-primary;
}
.no-hover {
  pointer-events: none;
}

.no-hover .card-overlay {
  display: none;
}

.no-hover img {
  opacity: 1 !important;
}
